*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
 min-height: 100vh;   
 background-color: yellow;
 font-family: sans-serif;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

h2{
 margin-bottom: 15px;

}

.board{
width: 350px;
height: 350px;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
gap: 15px;
}

.board .hole{
 background-color: rgb(89, 98, 63);
 border-radius: 50%;
 overflow: hidden;
 position: relative;

}
.hole img{
 position: absolute;
 width: 60%;
 left: 50%;
 transform: translateX(-50%);
 bottom: 0;
 animation: animate .3s linear forwards;
}

@keyframes animate{
 0%{
   bottom: -100%;
 }
 100%{
     
     bottom: 0;
 }
 
}
.cursor{
  width: 100px;
  height: 100px;
  background-image: url(hammer.png);
  background-size: 100%;
  position: absolute;
  transform: translate(-15%, -15%);
  pointer-events: none;
}
.cursor.active{
 transform: translate(-15%, -15%)
  (-30deg);

}